name: Cleanup workflow runs
on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Cleanup old runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ secrets.AUTH_PAT }}
          repository: ${{ github.repository }}
          # 只保留最近的5个运行，删除其他的
          keep_minimum_runs: 5
          keep_maximum_runs: 0  # 0表示无上限
          delete_workflow_pattern: '.*'
          dry_run: false
